.blog-list:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}

.blog-list-info {
    color: #777;
}

.paginator {
    text-align: center;
}

.article-kind-list {
    margin-bottom: 4em;
}

.paginator-note {
    font-size: 14.5px;
}

.blog-list-top-div {
    margin-right: 6rem;
}